body {
    background-image: url"https://wallpaperaccess.com/full/2757450.jpg";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h1{
    family-font:"kara",sans serif;
    font-size:25px;
    text-align:center;
    color:black;
}

h3{
    family-font:"kara",sans serif;
    font-size:20px;
    text-align:center;
    color:black;
}

p{
   font-family:verdana;
   font-size:15px;
   text-align:left;
}
