body{
    background-color:38C8C3;    
}

h1{
    family-font:"kara",sans serif;
    font-size:25px;
    color:black;
    text-align:center;
}

h3{
    family-font:"kara",sans serif;
    font-size:20px;
    color:black;
    text-align:center;
}

p{
   font-family:verdana;
   font-size:15px;
   text-align:left;
}
