body {
    background-color: #38c8c3;
}

body {
    background-color: rgb(56, 200, 195);
}

body {
    background-color: hsl(178, 72%, 50%);
}

h2{
    family-font:"kara",sans serif;
    font-size:25px;
    text-align:center;
    color:black;
}

h3{
    family-font:"kara",sans serif;
    font-size:20px;
    text-align:center;
    color:black;
}

p{
   font-family:verdana;
   font-size:15px;
   text-align:left;
}
